Hello!<br><br>

{{ .userFullName }} has invited you to access their organization ({{ .organizationName }}) on {{ .productName }}.
Please click <a href="{{ .inviteLink }}">here</a> to accept their invitation.<br><br>

If you do not already have an account with us, please register <a href="{{ .registerLink }}">here</a> and use <b>{{ .inviteCode }}</b> as the invite code.<br><br>

Thank you!
