Hello!<br><br>

Your request to run the SQL query {{ .queryName }} has been approved.
Please use the run code

<pre>
{{ .runCode }}
</pre>

to execute the query.
This code will expire in 48 hours.

Thank you!
