apiVersion: apps/v1
kind: Deployment
metadata:
    name: preview-generator-deployment
    labels:
        app: preview-generator
spec:
    replicas: 1
    selector:
        matchLabels:
            app: preview-generator
    template:
        metadata:
            labels:
                app: preview-generator
        spec:
            containers:
                - name: preview-generator-container
                  image: ${PREVIEW_IMAGE}
            imagePullSecrets:
                - name: regcred
