common --experimental_allow_incremental_repository_updates

build --loading_phase_threads=1
run --loading_phase_threads=1

build --java_toolchain=@bazel_tools//tools/jdk:toolchain_java11
build --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_java11

test --javabase=@bazel_tools//tools/jdk:remote_jdk11
test --host_javabase=@bazel_tools//tools/jdk:remote_jdk11

run --javabase=@bazel_tools//tools/jdk:remote_jdk11
run --host_javabase=@bazel_tools//tools/jdk:remote_jdk11
