apiVersion: apps/v1
kind: Deployment
metadata:
    name: webserver-deployment
    labels:
        app: webserver
spec:
    replicas: 1
    selector:
        matchLabels:
            app: webserver
    template:
        metadata:
            labels:
                app: webserver
        spec:
            containers:
                - name: webserver-container
                  image: ${WEBSERVER_IMAGE}
                  ports:
                    - containerPort: 8080
                  readinessProbe:
                    httpGet:
                        path: /healthz
                        port: 8080
                    initialDelaySeconds: 5
                    periodSeconds: 10
                  livenessProbe:
                    httpGet:
                        path: /healthz
                        port: 8080
                    initialDelaySeconds: 15
                    periodSeconds: 20
                - name: nginx-container
                  image: ${NGINX_IMAGE}
                  ports:
                    - containerPort: 443
                  volumeMounts:
                    - name: ssl-certificate
                      mountPath: "/etc/letsencrypt/live/grchive.com"
                      readOnly: true
                  readinessProbe:
                    httpGet:
                        path: /healthz
                        port: 443
                        scheme: HTTPS
                    initialDelaySeconds: 5
                    periodSeconds: 10
                  livenessProbe:
                    httpGet:
                        path: /healthz
                        port: 443
                        scheme: HTTPS
                    initialDelaySeconds: 15
                    periodSeconds: 20
            imagePullSecrets:
                - name: regcred
