<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"> 
  <url>
    <loc>${GRCHIVE_URI}</loc>
    <lastmod>2020-06-12</lastmod>
  </url>
  <url>
    <loc>${GRCHIVE_URI}/learn</loc>
    <lastmod>2020-06-12</lastmod>
  </url>
  <url>
    <loc>${GRCHIVE_URI}/getting-started</loc>
    <lastmod>2020-06-12</lastmod>
  </url>
  <url>
    <loc>${GRCHIVE_URI}/contact-us</loc>
    <lastmod>2020-06-12</lastmod>
  </url>
</urlset>
