storage "postgresql" {
    connection_url = "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/vault?sslmode=disable&timezone=UTC"
    table = "vault_kv_store"
    max_idle_connections = 5
    max_parallel = "10"
}

listener "tcp" {
    address     = "0.0.0.0:${VAULT_PORT}"
    tls_disable = 0
    tls_cert_file = "/opt/certs/vault/internal-vault-service.crt"
    tls_key_file = "/opt/certs/vault/internal-vault-service.key"
}

disable_mlock = true
