apiVersion: apps/v1
kind: Deployment
metadata:
    name: vault-deployment
    labels:
        app: vault
spec:
    replicas: 1
    selector:
        matchLabels:
            app: vault
    template:
        metadata:
            labels:
                app: vault
        spec:
            strategy:
                type: Recreate
            containers:
                - name: vault-container
                  image: ${VAULT_IMAGE}
                  ports:
                    - containerPort: 8200
                  volumeMounts:
                      - name: gke-service-account
                        mountPath: /secrets/gke
                        readOnly: true
                - name: cloudsql-proxy
                  image: gcr.io/cloudsql-docker/gce-proxy:1.16
                  command: ["/cloud_sql_proxy",
                             "-instances=${GRCHIVE_PROJECT}:us-central1:${POSTGRES_INSTANCE_NAME}=tcp:5432",
                             "-credential_file=/secrets/gke/gcloud-service-account.json"]
                  securityContext:
                      runAsUser: 2  # non-root user
                      allowPrivilegeEscalation: false
                  volumeMounts:
                      - name: gke-service-account
                        mountPath: /secrets/gke
                        readOnly: true
            volumes:
                - name: gke-service-account
                  secret:
                    secretName: gke-service-account
            imagePullSecrets:
                - name: regcred
