apiVersion: apps/v1
kind: Deployment
metadata:
    name: vault-deployment
    labels:
        app: vault
spec:
    replicas: 1
    selector:
        matchLabels:
            app: vault
    template:
        metadata:
            labels:
                app: vault
        spec:
            containers:
                - name: vault-container
                  image: ${VAULT_IMAGE}
                  ports:
                    - containerPort: 8200
                  volumeMounts:
                      - name: gke-service-account
                        mountPath: /secrets/gke
                        readOnly: true
            volumes:
                - name: gke-service-account
                  secret:
                    secretName: gke-service-account
            imagePullSecrets:
                - name: regcred
    strategy:
        type: Recreate
