apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: gitea-pvc
spec:
    accessModes:
        - ReadWriteOnce
    resources:
        requests:
            storage: 5Gi
    storageClassName: expandable-normal

---

apiVersion: apps/v1
kind: Deployment
metadata:
    name: gitea-deployment
    labels:
        app: gitea
spec:
    replicas: 1
    selector:
        matchLabels:
            app: gitea
    template:
        metadata:
            labels:
                app: gitea
        spec:
            containers:
                - name: gitea-container
                  image: ${GITEA_IMAGE} 
                  volumeMounts:
                      - name: gitea-data
                        mountPath: /data
                - name: cloudsql-proxy
                  image: gcr.io/cloudsql-docker/gce-proxy:1.16
                  ports:
                    - containerPort: 5432
                  command: ["/cloud_sql_proxy",
                             "-instances=${GRCHIVE_PROJECT}:us-central1:${POSTGRES_INSTANCE_NAME}=tcp:5432",
                             "-credential_file=/secrets/gke/gcloud-service-account.json"]
                  securityContext:
                      runAsUser: 2  # non-root user
                      allowPrivilegeEscalation: false
                  volumeMounts:
                      - name: gke-service-account
                        mountPath: /secrets/gke
                        readOnly: true
                  resources:
                        requests:
                            cpu: "10m"
                        limits:
                            cpu: "100m"
            volumes:
                - name: gitea-data
                  persistentVolumeClaim:
                      claimName: gitea-pvc
            imagePullSecrets:
                - name: regcred
