[[define "header"]]
<title>[[.ServerSide.OrgName]] - General Ledger Account</title>
[[end]]

[[define "app"]]
<dashboard-org-single-general-ledger-account>
</dashboard-org-single-general-ledger-account>
[[end]]
