[[define "dashboardBase"]]
<!doctype html>
<html lang="en">
<head>
    <title>[[ .OrgName ]] :: [[ .CompanyName ]]</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/static/corejsui/dashboard.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <v-app>
            [[template "app" .]]

            <snack-bar ref="snackbar"></snack-bar>
        </v-app>
    </div>

    <script src="/static/corejsui/dashboard.js"></script>
    <script>
        // Maybe do this via AJAX instead?
        corejsui.mountApp({
            orgUrl: "[[ .OrgUrl ]]",
            orgName: "[[ .OrgName ]]",
            orgGroupId: "[[ .OrgGroupId ]]",
            orgId: "[[ .OrgId ]]",
            userFirstName: "[[ .User.FirstName ]]",
            userLastName: "[[ .User.LastName]]",
            userEmail: "[[ .User.Email ]]",
            domain: '[[ .Domain ]]',
            host: '[[ .Host ]]'
        });
    </script>
</body>
</html>
[[end]]
