apiVersion: apps/v1
kind: StatefulSet
metadata:
    name: rabbitmq-set
    namespace: backend
    labels:
        app: rabbitmq
spec:
    selector:
        matchLabels:
            app: rabbitmq
    serviceName: "rabbitmq-service"
    replicas: 1
    template:
        metadata:
            labels:
                app: rabbitmq
        spec:
            containers:
            - name: rabbitmq-container
              image: ${RABBITMQ_IMAGE}
              ports:
              - containerPort: 5671
              resources:
                  requests:
                      cpu: "50m"
              volumeMounts:
              - mountPath: /var/lib/rabbitmq/mnesia
                name: rabbitmq
            imagePullSecrets:
                - name: regcred
    volumeClaimTemplates:
      - metadata:
            name: rabbitmq
        spec:
            accessModes: [ "ReadWriteOnce" ]
            storageClassName: "normal"
            resources:
                requests:
                    storage: 5Gi
