apiVersion: apps/v1
kind: StatefulSet
metadata:
    name: rabbitmq-set
    labels:
        app: rabbitmq
spec:
    selector:
        matchLabels:
            app: rabbitmq
    serviceName: "rabbitmq-service"
    replicas: 1
    template:
        metadata:
            labels:
                app: rabbitmq
        spec:
            containers:
            - name: rabbitmq-container
              image: ${RABBITMQ_IMAGE}
              ports:
              - containerPort: 5671
              resources:
                  requests:
                      cpu: "50m"
                  limits:
                      cpu: "100m"
              volumeMounts:
              - mountPath: /var/lib/rabbitmq
                name: rabbitmq
              - mountPath: /opt/certs/rabbitmq
                name: rabbitmq-service-certificate
                readOnly: true
              - mountPath: /opt/certs/rootca
                name: rootca
                readOnly: true
            imagePullSecrets:
                - name: regcred
            volumes:
                - name: rabbitmq-service-certificate
                  secret:
                    secretName: rabbitmq-service-certificate
                    defaultMode: 256
                - name: rootca
                  secret:
                    secretName: rootca
                    defaultMode: 256
    volumeClaimTemplates:
      - metadata:
            name: rabbitmq
        spec:
            accessModes: [ "ReadWriteOnce" ]
            storageClassName: "normal"
            resources:
                requests:
                    storage: 5Gi
