self_uri = "https://www.grchive.com"
self_domain = "grchive.com"

[company]
company_name = "GRCHive"
domain = "grchive.com"

[database]
connection = "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/audit?sslmode=disable&timezone=UTC"

[okta]
url = "${OKTA_URL}"
api_key = "${OKTA_KEY}"
api_endpoint = "/api"
users_endpoint = "/v1/users"

[login]
authserver_endpoint = "/oauth2/default"
auth_endpoint = "/v1/authorize"
token_endpoint = "/v1/token"
key_endpoint = "/v1/keys"
logout_endpoint = "/v1/logout"
auth_audience = "api://default"
time_drift_leeway_seconds = 60

[login.params]
client_id = "${OKTA_CLIENT_ID}"
client_secret = "${OKTA_CLIENT_SECRET}"
response_type = "code" 
response_mode = "query"
scope = "openid email offline_access groups profile"
redirect_uri = "/authorization-code/callback"
grant_type = "authorization_code"

[security]
session_keys = [
    "${SECURITY_KEY_0}",
    "${SECURITY_KEY_1}"
]
use_secure_cookies = true

[vault]
url = "${VAULT_HOST}:${VAULT_PORT}"

[vault.userpass]
username = "${VAULT_USER}"
password = "${VAULT_PASSWORD}"

[gcloud]
credentials_file = "devops/gcloud/gcloud-webserver-account.json"

[gcloud.storage]
doc_bucket = "grchive-prod"

[mail]
provider = "sendgrid"
key = "${SENDGRID_KEY}"

[mail.verification.from]
name = "GRCHive Support"
email = "support@grchive.com"

[hashids]
salt = "7409d5d933caf02affce"
min_length = 8

[rabbitmq]
username = "${RABBITMQ_USER}"
password = "${RABBITMQ_PASSWORD}"
host = "${RABBITMQ_HOST}"
port = ${RABBITMQ_PORT}
