<?xml version="1.0" encoding="UTF-8"?>

<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
  <modelVersion>4.0.0</modelVersion>

  <groupId>com.grchive.{{ .GRCHIVE_ORG_IDENTIFIER }}</groupId>
  <artifactId>client-lib</artifactId>
  <version>0.0</version>
  <name>client-lib</name>

  <properties>
    <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
    <maven.compiler.source>1.7</maven.compiler.source>
    <maven.compiler.target>1.7</maven.compiler.target>
    <kotlin.version>1.3.70</kotlin.version>
  </properties>

  <dependencies>
    <dependency>
        <groupId>org.jetbrains.kotlin</groupId>
        <artifactId>kotlin-stdlib</artifactId>
        <version>1.3.70</version>
    </dependency>
    <dependency>
        <groupId>{{ .KOTLIN_CORE_LIB_GROUP_ID }}</groupId>
        <artifactId>{{ .KOTLIN_CORE_LIB_ARTIFACT_ID }}</artifactId>
        <version>{{ .KOTLIN_CORE_LIB_MAJOR_VERSION }}.{{ .KOTLIN_CORE_LIB_MINOR_VERSION }}</version>
    </dependency>
  </dependencies>

  <repositories>
    <repository>
        <id>artifactory-central</id>
        <name>libs-release-local</name>
        <url>http://{{ .ARTIFACTORY_HOST }}:{{ .ARTIFACTORY_PORT }}/artifactory/libs-release-local</url>
        <releases><enabled>true</enabled></releases>
        <snapshots><enabled>false</enabled></snapshots>
    </repository>

    <repository>
        <id>artifactory-snapshots</id>
        <name>libs-snapshot-local</name>
        <url>http://{{ .ARTIFACTORY_HOST }}:{{ .ARTIFACTORY_PORT }}/artifactory/libs-snapshot-local</url>
        <releases><enabled>false</enabled></releases>
        <snapshots><enabled>true</enabled></snapshots>
    </repository>
  </repositories>

  <distributionManagement>
    <repository>
        <id>artifactory-central</id>
        <name>libs-release-local</name>
        <url>http://{{ .ARTIFACTORY_HOST }}:{{ .ARTIFACTORY_PORT }}/artifactory/libs-release-local</url>
    </repository>

    <snapshotRepository>
        <id>artifactory-snapshots</id>
        <name>libs-snapshot-local</name>
        <url>http://{{ .ARTIFACTORY_HOST }}:{{ .ARTIFACTORY_PORT }}/artifactory/libs-snapshot-local</url>
    </snapshotRepository>
  </distributionManagement>

  <build>
    <sourceDirectory>${project.basedir}/src/main/kotlin</sourceDirectory>
    <plugins>
      <plugin>
        <groupId>org.jetbrains.kotlin</groupId>
        <artifactId>kotlin-maven-plugin</artifactId>
        <version>${kotlin.version}</version>
        <executions>
            <execution>
                <id>compile</id>
                <goals><goal>compile</goal></goals> 
            </execution>
        </executions>
      </plugin>
    </plugins>
  </build>
</project>
