<!doctype html>
<html lang="en">
<head>
    <title>Audit Stuff</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
</head>

<body>
    <div id="app">
        {{ message }}
    </div>
    <script src="static/corejsui/main.js"></script>
</body>
</html>
