[[define "header"]]
<title>GRCHive Redirect</title>
[[end]]

[[define "app"]]
<redirect-page
    title="[[ .Title ]]"
    subtext="[[ .Subtitle ]]"
    redirect-url="[[ .Redirect ]]">
</redirect-page>
[[end]]
