#!/bin/bash

chown -R rabbitmq:rabbitmq /etc/rabbitmq
(rabbitmqctl wait --timeout 60 $RABBITMQ_PID_FILE; \
 rabbitmqctl add_user ${RABBITMQ_USER} ${RABBITMQ_PASSWORD}; \
 rabbitmqctl set_permissions -p / ${RABBITMQ_USER} ".*" ".*" ".*") \
 & rabbitmq-server
