worker_processes 1;

events {
    worker_connections 8192;
}

http {
    include /etc/nginx/mime.types;
    default_type application/octet-stream;
}

stream {
    server {
        listen 5432;
        proxy_pass ${MINIKUBE_PSQL_URL};
    }

    server {
        listen 3000;
        proxy_pass ${MINIKUBE_GITEA_URL};
    }

    server {
        listen 8888;
        proxy_pass ${MINIKUBE_DRONE_URL};
    }

    server {
        listen 9999;
        proxy_pass ${MINIKUBE_ARTIFACTORY_URL};
    }

    server {
        listen 9998;
        proxy_pass ${MINIKUBE_ARTIFACTORY_URL_REPO};
    }

    server {
        listen 8200;
        proxy_pass ${MINIKUBE_VAULT_URL};
    }
}
