worker_processes 1;

events {
    worker_connections 8192;
}

http {
    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    server {
        listen 3000;
        location / {
            proxy_pass http://${MINIKUBE_IP}:${MINIKUBE_GITEA_PORT};
        }
    }

    server {
        listen 8888;
        location / {
            proxy_pass http://${MINIKUBE_IP}:${MINIKUBE_DRONE_PORT};
        }
    }

    server {
        listen 9999;
        location / {
            proxy_pass http://${MINIKUBE_IP}:${MINIKUBE_ARTIFACTORY_PORT};
        }
    }

    server {
        listen 9998;
        location / {
            proxy_pass http://${MINIKUBE_IP}:${MINIKUBE_ARTIFACTORY_PORT_REPO};
        }
    }

}

stream {
    server {
        listen 8200;
        proxy_pass ${MINIKUBE_IP}:${MINIKUBE_VAULT_PORT};
    }

    server {
        listen 5432;
        proxy_pass ${MINIKUBE_IP}:${MINIKUBE_PSQL_PORT};
    }
}
